.list {
  flex-grow: 1;
  border-radius: 16px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0px 2px 31px 13px rgba(10, 63, 142, 0.08);
  padding: 36px 19px;
  overflow-y: auto;
  margin-bottom: 38px;
}
